{% load static %}
{% load crispy_forms_tags %}
<header>
    <div class="headerInicio">
        <div class="contenedorHeader">
            <div class="cuadroH1"><img class="logoH1" src="{% static './img/png/LOGO 16.png' %}"     alt=""></div>
            <div class="cuadroH2"><h1 class="textoH2">Unidad Productiva <br>Tejidos y Variedades Tota</h1></div>
            <div class="cuadroH3"><a href="{% url 'usuario-login' %}"><input type="button" class="btn botonH3 btn-light" value="Ingresar"></a>

              </button></div>
        </div>
    </div>     
    
</header>