{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block tittle %} Crear factura {% endblock tittle %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<main class="mainU">
  <div class="contenedorMainU">
    <p class="txtMainI">Factura</p>

    <div class="navTabla">
      <form>
        <table class="table bg-white table-bordered results" id="tabla">
          <thead class="bg-info">
            <tr class="text-white">
              <th scope="col">Tipo de usuario</th>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Fecha</th>
              <th scoper="col">Neto a pagar</th>
              <th scope="col">Tipo de factura</th> 
              <th scope="col">Cantidad</th>            
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for tfactura in tfacturas %}
            <tr>
              <td>{{tfactura.tipousuario}}</td>
              <td>{{tfactura.usuario}}</td>
              <td>{{tfactura.fecha}}</td>
              <td>{{tfactura.}}</td>
              <td>{{tfactura.tipofactura}}</td>
              <td>{{tfactura.cantidad}}</td>
              
              
              <td><a href="{% url 'factura-verfactura' tfactura.id %}"><svg src="img/png/eye.svg"   fill="currentColor" class=" opcionesTabla bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg></a> 
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="iconosOpcion">
    <div class="agreproducto">
      <a href="{% url 'factura-factura' %}"><img src="{% static 'img/png/plus-circle-fill.svg' %}" width="40" alt=""
          srcset=""></a>
      <p>Agregar factura</p>
    </div>
    
  </div>


  </div>
  </div>


  </div>
  </div>
</main>

</html>

{% endblock contenido %}